In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("car data.csv")
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [2]:
data['Years_old'] = 2022-data['Year']

In [3]:
Final_data = data[['Selling_Price','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner','Years_old']]

In [4]:
Final_data = pd.get_dummies(Final_data,drop_first = True)
Final_data.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,Years_old,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,8,0,1,0,1
1,4.75,9.54,43000,0,9,1,0,0,1
2,7.25,9.85,6900,0,5,0,1,0,1
3,2.85,4.15,5200,0,11,0,1,0,1
4,4.60,6.87,42450,0,8,1,0,0,1

In [5]:
#dependent and independent feature
x = Final_data.iloc[:,1:]
y = Final_data.iloc[:,0]

In [6]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [7]:
# model selection
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [15]:
pipe = Pipeline([("Regressor", RandomForestRegressor())])
searchspace = [{"Regressor" :[LinearRegression()]},{"Regressor" : [RandomForestRegressor()], "Regressor__n_estimators":[10,100,1000]
                                                   ,"Regressor__max_features" : [5,6,7,8]}]
gridsearch = GridSearchCV(pipe, searchspace, cv=5, verbose=0 , n_jobs = -1)
model = gridsearch.fit(x_train,y_train)

In [16]:
model.best_estimator_.get_params()["Regressor"]

RandomForestRegressor(max_features=8, n_estimators=1000)

In [17]:
prediction = model.predict(x_test)

In [18]:
model.score(x_test,y_test)

0.8658915934354893

In [19]:
# model evaluation
from sklearn.model_selection import cross_val_score
cross_val_score(model, x_test, y_test , scoring = 'r2')

array([0.54728808, 0.34231167, 0.910558  , 0.17085762, 0.58554951])

In [22]:
import pickle

In [23]:
# saving the model
file = open('model1.pkl','wb')
pickle.dump(model,file)